body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
    nav{
    background:transparent;
    height:80px;
    width:100%;
    }
    label.logo{
    font-size: 35px;
    padding:0px 100px;
    font-weight: bold;
    
    }
    nav ul{
    float:right;
    margin-right: 20px;
    }
    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    }
    .item{
    color: white;
    font-size: 16px;
    }
    .item:hover{
    text-decoration: underline;
    }
    .form-box{
    width: 60%;
    margin: 12% auto;
    padding:2px o;
    color:rgba(0,0,0,0.8);
    background: #fff;
    box-shadow: 0 0 20px 20px #fff;
    }
    table,tr,td{
        border: 1px solid;
    }