
.form-box{
    width: 450px;
    margin:15% auto;
    padding:50px o;
    color:rgba(0,0,0,0.5);
    background: #fff;
    border-radius: 50px;
}
.input-box{
    margin: 31px auto;
    width:80%;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    padding-top: -15px;
    padding-bottom: 5px;
}
::placeholder{
    color: rgba(0,0,0,0.5)
}
.submit-btn{
    margin: 40px auto 20px;
    width:80%;
    display:block;
    outline:none;
    padding: 10px 0;
    border:1px solid rgba(0,0,0,0.8);
    cursor: pointer;
    background: transparent;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
    border-radius: 50px;
}
.submit-btn:hover{
    color:blue
}
.-btn:active{
    background-color: blue;
    color: #fff;
}
.p1{
    text-align: center;
}