.login-btn{
    margin: 40px auto 20px;
    width:80%;
    display:block;
    outline:none;
    padding: 10px 0;
    border:1px solid rgba(0,0,0,0.8);
    cursor: pointer;
    background: transparent;
    color: rgba(0,0,0,0.5);
    font-size: 16px;
}
.login-btn:hover{
    color:blue
}
.login-btn:active{
    background-color: blue;
    color: #fff;
}
body{
    background-image: url(bg.jpg);background-attachment: fixed;background-repeat: no-repeat;background-size: 100% 100%;
}
.form-box{
    width: 400px;
    margin:12% auto;
    padding:50px o;
    color:rgba(0,0,0,0.5);
    background: #fff;
    box-shadow: 0 0 20px 20px #fff;
}
.input-box{
    margin: 31px auto;
    width:80%;
    border-bottom: 1px solid rgba(0,0,0,0.8);
    padding-top: -15px;
    padding-bottom: 5px;
}
nav{
    background:transparent;
    height:80px;
    width:100%;
    }
    label.logo{
    font-size: 35px;
    padding:0px 100px;
    font-weight: bold;
    
    }
    nav ul{
    float:right;
    margin-right: 20px;
    }
    nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px
    }
    nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    }
    .item{
    color: white;
    font-size: 16px;
    }
    .item:hover{
    text-decoration: underline;
    }